<a href="https://colab.research.google.com/github/space-32/Assignments-of-Internship/blob/main/Data_Preprocessing_and_Feature_Engineering_(VIP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#First step is to import modules required for this task
import pandas as pd #to read data set and pd is like an shortform given to panda
import numpy as np # to do operations on array
import os # to handle files
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('/content/Titanic-Dataset.csv')
#here we loaded the dataset

In [5]:
df.head()
#it will print first 5 rows of dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.tail()
#it will print last 5 rows of dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

# ***DATA INSPECTION***

In [7]:
# Get the number of samples and features
print(f"Number of samples: {df.shape[0]}")
print(f"Number of features: {df.shape[1]}")

# Display basic information about the dataset
print(df.info())

# Display the target variable (Survived) distribution
print(df['Survived'].value_counts(normalize=True))

# Summary statistics for numerical features
print(df.describe())

# Check for missing values
print(df.isnull().sum())

Number of samples: 891
Number of features: 12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# ***DATA PREPROCESSING***

In [8]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()
print(missing_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
# Impute missing Age values with the median age
df['Age'].fillna(df['Age'].median(), inplace=True)

In [17]:
numerical_features = ['Age', 'Fare']
print("Numerical Features Before Scaling:")
print(df[numerical_features].head())

Numerical Features Before Scaling:
    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [19]:
# Apply Standardization
scaler = StandardScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])

print("Numerical Features After Standardization:")
print(df[numerical_features].head())

Numerical Features After Standardization:
        Age      Fare
0 -0.565736 -0.502445
1  0.663861  0.786845
2 -0.258337 -0.488854
3  0.433312  0.420730
4  0.433312 -0.486337

In [21]:
# Apply Min-Max Scaling
min_max_scaler = MinMaxScaler()
df[numerical_features] = min_max_scaler.fit_transform(df[numerical_features])

print("Numerical Features After Min-Max Scaling:")
print(df[numerical_features].head())

Numerical Features After Min-Max Scaling:
        Age      Fare
0  0.271174  0.014151
1  0.472229  0.139136
2  0.321438  0.015469
3  0.434531  0.103644
4  0.434531  0.015713

In [24]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to the 'Pclass' feature
df['Pclass'] = label_encoder.fit_transform(df['Pclass'])

# Print the first few rows of the encoded feature
print("Pclass Feature After Label Encoding:")
print(df[['Pclass']].head())

# Print mapping of labels to original values
print("Label Encoding Mapping:")
for i, category in enumerate(label_encoder.classes_):
    print(f"{category}: {i}")

Pclass Feature After Label Encoding:
   Pclass
0       2
1       0
2       2
3       0
4       2
Label Encoding Mapping:
1: 0
2: 1
3: 2

# ***FEATURE ENGINEERING***

In [28]:


# Extract Title from Name
df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

# Display the first few rows to verify the new feature
print("Extracted Titles:")
print(df[['Name', 'Title']].head())

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to the Title feature
df['Title_Encoded'] = label_encoder.fit_transform(df['Title'])

# Display the first few rows to verify the encoded feature
print("Title Feature After Label Encoding:")
print(df[['Title', 'Title_Encoded']].head())

# Print the mapping of labels to original values
print("Label Encoding Mapping:")
for i, category in enumerate(label_encoder.classes_):
    print(f"{category}: {i}")

Extracted Titles:
                                                Name Title
0                            Braund, Mr. Owen Harris    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs
2                             Heikkinen, Miss. Laina  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs
4                           Allen, Mr. William Henry    Mr
Title Feature After Label Encoding:
  Title  Title_Encoded
0    Mr             11
1   Mrs             12
2  Miss              8
3   Mrs             12
4    Mr             11
Label Encoding Mapping:
Capt: 0
Col: 1
Don: 2
Dr: 3
Jonkheer: 4
Lady: 5
Major: 6
Master: 7
Miss: 8
Mlle: 9
Mme: 10
Mr: 11
Mrs: 12
Ms: 13
Rev: 14
Sir: 15
the Countess: 16

In [37]:
# Inspect the columns in the dataset
print("Columns in the dataset:")
print(df.columns)

# Define features and target variable
# Check which columns are present before attempting to drop them
columns_to_drop = ['Survived', 'Name', 'Ticket', 'Cabin']
existing_columns_to_drop = [col for col in columns_to_drop if col in df.columns]
X = df.drop(columns=existing_columns_to_drop, errors='ignore')  # Use errors='ignore' to skip non-existent columns
y = df['Survived'] if 'Survived' in df.columns else None

# Check if 'Survived' is present and if y is None, handle the error
if y is None:
    raise ValueError("Target variable 'Survived' is not present in the dataset")

# Handle categorical variables (e.g., using Label Encoding)
label_encoder = LabelEncoder()

# Example: Encoding 'Embarked' feature if it exists
if 'Embarked' in X.columns:
    X['Embarked'] = label_encoder.fit_transform(X['Embarked'])

# Convert any categorical data to numeric (excluding target variable 'Survived')
for column in X.select_dtypes(include=['object']).columns:
    X[column] = label_encoder.fit_transform(X[column].astype(str))

# Apply Standardization to numerical features if they exist
numerical_features = ['Age', 'Fare']
numerical_features_present = [feature for feature in numerical_features if feature in X.columns]

if numerical_features_present:
    scaler = StandardScaler()
    X[numerical_features_present] = scaler.fit_transform(X[numerical_features_present])
else:
    print(f"Numerical features {numerical_features} are not present in the dataset")

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and apply SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

# Create a DataFrame for the resampled data (optional)
df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
df_resampled['Survived'] = y_resampled

# Display the class distribution before and after SMOTE
print("Class distribution before SMOTE:")
print(y_train.value_counts())

print("Class distribution after SMOTE:")
print(pd.Series(y_resampled).value_counts())

Columns in the dataset:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked', 'Cabin_Indicator', 'Title_Miss',
       'Title_Mr', 'Title_Mrs', 'Title_Rare', 'Title_Miss', 'Title_Mr',
       'Title_Mrs', 'Title_Rare', 'Title_Miss', 'Title_Mr', 'Title_Mrs',
       'Title_Rare', 'Title', 'Title_Encoded'],
      dtype='object')
Class distribution before SMOTE:
Survived
0    444
1    268
Name: count, dtype: int64
Class distribution after SMOTE:
Survived
0    444
1    444
Name: count, dtype: int64

In [38]:
import pandas as pd

# Assuming 'df_resampled' is your final preprocessed DataFrame
# Save the preprocessed DataFrame to a CSV file
df_resampled.to_csv('preprocessed_titanic_data.csv', index=False)

print("Preprocessed dataset saved as 'preprocessed_titanic_data.csv'.")

Preprocessed dataset saved as 'preprocessed_titanic_data.csv'.

In [39]:
import os
print("Current working directory:", os.getcwd())

Current working directory: /content

In [40]:
from google.colab import files
files.download('preprocessed_titanic_data.csv')